In [1]:
from pathlib import Path
import pandas as pd
from datetime import datetime

In [2]:
list(Path.iterdir(Path.cwd()/'covidIndiaData/data/'))

[PosixPath('/home/shubh/Python/scrapy/covidIndia2/covidIndiaData/data/Untitled.ipynb'),
 PosixPath('/home/shubh/Python/scrapy/covidIndia2/covidIndiaData/data/.ipynb_checkpoints'),
 PosixPath('/home/shubh/Python/scrapy/covidIndia2/covidIndiaData/data/state_data_v2.csv')]

In [3]:
src_file = Path.cwd()/'covidIndiaData/data/state_data_v2.csv'

In [4]:
df = pd.read_csv(src_file)

In [5]:
df. dtypes

date                         object
state                        object
active_cases                 object
cured_discharged_migrated    object
deaths                       object
total_confirmed_cases        object
dtype: object

In [6]:
df.date = pd.to_datetime(df.date, errors='coerce')
df.cured_discharged_migrated = pd.to_numeric(df.cured_discharged_migrated, errors='coerce')
df.deaths = pd.to_numeric(df.deaths, errors='coerce')
df.total_confirmed_cases = pd.to_numeric(df.total_confirmed_cases, errors='coerce')

In [7]:
df = df.dropna()

In [8]:
new_types = {df.columns[2]: 'int',
             df.columns[3]: 'int',
             df.columns[4]: 'int',
             df.columns[5]: 'int'}

In [9]:
df = df.astype(new_types)

In [10]:
df.dtypes

date                         datetime64[ns]
state                                object
active_cases                          int64
cured_discharged_migrated             int64
deaths                                int64
total_confirmed_cases                 int64
dtype: object

In [11]:
df = df.drop_duplicates()

In [12]:
df = df.sort_values(by='date')

In [13]:
df = df.reset_index(drop=True)

In [14]:
df.shape

(1995, 6)

In [15]:
df.tail()

,date,state,active_cases,cured_discharged_migrated,deaths,total_confirmed_cases
1990,2020-07-26,Jharkhand,4329,3425,82,7836
1991,2020-07-26,Karnataka,55396,33750,1796,90942
1992,2020-07-26,Kerala,9428,8611,59,18098
1993,2020-07-26,Andhra Pradesh,44431,43255,985,88671
1994,2020-07-26,Ladakh,216,1057,3,1276

In [16]:
max_date = datetime.now().strftime('%Y-%m-%d')

In [17]:
pd.date_range(start = '2020-05-30', end = max_date ).difference(df.date)

DatetimeIndex(['2020-07-25', '2020-07-27'], dtype='datetime64[ns]', freq=None)

In [18]:
df.to_csv('state_data_final.csv', index=False)