In [1]:
from pathlib import Path
import pandas as pd

In [2]:
list(Path.iterdir(Path.cwd()/'covidIndiaData/data/'))

[PosixPath('/home/shubh/Python/scrapy/covidIndia2/covidIndiaData/data/state_data_v2.csv')]

In [3]:
src_file = Path.cwd()/'covidIndiaData/data/state_data_v2.csv'

In [4]:
df = pd.read_csv(src_file)

In [5]:
df. dtypes

date                          object
state                         object
active_cases                 float64
cured_discharged_migrated     object
deaths                        object
total_confirmed_cases         object
dtype: object

In [6]:
df.date = pd.to_datetime(df.date, errors='coerce')
df.cured_discharged_migrated = pd.to_numeric(df.cured_discharged_migrated, errors='coerce')
df.deaths = pd.to_numeric(df.deaths, errors='coerce')
df.total_confirmed_cases = pd.to_numeric(df.total_confirmed_cases, errors='coerce')

In [7]:
df = df.dropna()

In [8]:
df.head()

,date,state,active_cases,cured_discharged_migrated,deaths,total_confirmed_cases
0,2020-06-02,Andaman and Nicobar Islands,0.0,33.0,0.0,33.0
1,2020-06-02,Andhra Pradesh,1341.0,2378.0,64.0,3783.0
2,2020-06-02,Arunachal Pradesh,21.0,1.0,0.0,22.0
3,2020-06-02,Assam,1109.0,277.0,4.0,1390.0
4,2020-06-02,Bihar,2002.0,1900.0,24.0,3926.0

In [9]:
df.dtypes

date                         datetime64[ns]
state                                object
active_cases                        float64
cured_discharged_migrated           float64
deaths                              float64
total_confirmed_cases               float64
dtype: object

In [16]:
df = df.drop_duplicates()

,date,state,active_cases,cured_discharged_migrated,deaths,total_confirmed_cases
0,2020-05-30,Delhi,9142.0,7846.0,398.0,17386.0
1,2020-05-30,Uttar Pradesh,2842.0,4244.0,198.0,7284.0
2,2020-05-30,Uttarakhand,609.0,102.0,5.0,716.0
3,2020-05-30,Tripura,80.0,171.0,0.0,251.0
4,2020-05-30,Telengana,973.0,1381.0,71.0,2425.0
...,...,...,...,...,...,...
1605,2020-07-14,Nagaland,505.0,340.0,0.0,845.0
1606,2020-07-14,Mizoram,82.0,151.0,0.0,233.0
1607,2020-07-14,Meghalaya,250.0,66.0,2.0,318.0
1608,2020-07-14,Rajasthan,5781.0,18630.0,525.0,24936.0
1609,2020-07-14,Andhra Pradesh,14274.0,16464.0,365.0,31103.0

In [10]:
df = df.sort_values(by='date')

In [11]:
df = df.reset_index(drop=True)

In [12]:
df.shape

(1610, 6)

In [13]:
pd.date_range(start = '2020-05-30', end = '2020-07-14' ).difference(df.date)

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [14]:
df.to_csv('state_data_final.csv', index=False)