In [1]:
import pandas as pd
from pathlib import Path
from datetime import datetime

In [2]:
df = pd.read_json('http://web.archive.org/cdx/search/cdx?url=mohfw.gov.in&output=json')

In [3]:
print(df.shape)
print(df.dtypes)

(1631, 7)
0    object
1    object
2    object
3    object
4    object
5    object
6    object
dtype: object

In [4]:
df.head()

,0,1,2,3,4,5,6
0,urlkey,timestamp,original,mimetype,statuscode,digest,length
1,"in,gov,mohfw)/",20130822041704,http://www.mohfw.gov.in:80/,text/html,200,ZOI7FAS5IWHR5L7VZJMH55UVO6DLEC5P,12914
2,"in,gov,mohfw)/",20130921204014,http://www.mohfw.gov.in:80/,text/html,200,ISJSEBXGV65P55H32MMDWHHO6QQGTVY7,12962
3,"in,gov,mohfw)/",20131022155257,http://www.mohfw.gov.in:80/,text/html,200,KYPV4AA7WNGOSDG36XDJITE7PIN7HOCR,11656
4,"in,gov,mohfw)/",20131123044056,http://www.mohfw.gov.in:80/,text/html,200,QSJ4J5T5EXBUQGJCPOWOLAQJGWKPYZ4A,11852

In [5]:
new_columns = df.iloc[0]
df = df[1:]
df.columns = new_columns
df.reset_index(drop=True, inplace=True)

In [6]:
df.head()

,urlkey,timestamp,original,mimetype,statuscode,digest,length
0,"in,gov,mohfw)/",20130822041704,http://www.mohfw.gov.in:80/,text/html,200,ZOI7FAS5IWHR5L7VZJMH55UVO6DLEC5P,12914
1,"in,gov,mohfw)/",20130921204014,http://www.mohfw.gov.in:80/,text/html,200,ISJSEBXGV65P55H32MMDWHHO6QQGTVY7,12962
2,"in,gov,mohfw)/",20131022155257,http://www.mohfw.gov.in:80/,text/html,200,KYPV4AA7WNGOSDG36XDJITE7PIN7HOCR,11656
3,"in,gov,mohfw)/",20131123044056,http://www.mohfw.gov.in:80/,text/html,200,QSJ4J5T5EXBUQGJCPOWOLAQJGWKPYZ4A,11852
4,"in,gov,mohfw)/",20131226154745,http://www.mohfw.gov.in:80/,text/html,200,S2PKPRKGENJ6HSYHCR5RUIXLDD6B343G,12243

In [7]:
df = df[df.statuscode=='200']

In [8]:
df.shape

(1406, 7)

In [9]:
df.timestamp = pd.to_datetime(df.timestamp)

In [10]:
df.head()

,urlkey,timestamp,original,mimetype,statuscode,digest,length
0,"in,gov,mohfw)/",2013-08-22 04:17:04,http://www.mohfw.gov.in:80/,text/html,200,ZOI7FAS5IWHR5L7VZJMH55UVO6DLEC5P,12914
1,"in,gov,mohfw)/",2013-09-21 20:40:14,http://www.mohfw.gov.in:80/,text/html,200,ISJSEBXGV65P55H32MMDWHHO6QQGTVY7,12962
2,"in,gov,mohfw)/",2013-10-22 15:52:57,http://www.mohfw.gov.in:80/,text/html,200,KYPV4AA7WNGOSDG36XDJITE7PIN7HOCR,11656
3,"in,gov,mohfw)/",2013-11-23 04:40:56,http://www.mohfw.gov.in:80/,text/html,200,QSJ4J5T5EXBUQGJCPOWOLAQJGWKPYZ4A,11852
4,"in,gov,mohfw)/",2013-12-26 15:47:45,http://www.mohfw.gov.in:80/,text/html,200,S2PKPRKGENJ6HSYHCR5RUIXLDD6B343G,12243

In [11]:
df['max_value'] = df.groupby(df['timestamp'].dt.date)['timestamp'].transform('max')

In [12]:
df.head()

,urlkey,timestamp,original,mimetype,statuscode,digest,length,max_value
0,"in,gov,mohfw)/",2013-08-22 04:17:04,http://www.mohfw.gov.in:80/,text/html,200,ZOI7FAS5IWHR5L7VZJMH55UVO6DLEC5P,12914,2013-08-22 04:17:04
1,"in,gov,mohfw)/",2013-09-21 20:40:14,http://www.mohfw.gov.in:80/,text/html,200,ISJSEBXGV65P55H32MMDWHHO6QQGTVY7,12962,2013-09-21 20:40:14
2,"in,gov,mohfw)/",2013-10-22 15:52:57,http://www.mohfw.gov.in:80/,text/html,200,KYPV4AA7WNGOSDG36XDJITE7PIN7HOCR,11656,2013-10-22 15:52:57
3,"in,gov,mohfw)/",2013-11-23 04:40:56,http://www.mohfw.gov.in:80/,text/html,200,QSJ4J5T5EXBUQGJCPOWOLAQJGWKPYZ4A,11852,2013-11-23 04:40:56
4,"in,gov,mohfw)/",2013-12-26 15:47:45,http://www.mohfw.gov.in:80/,text/html,200,S2PKPRKGENJ6HSYHCR5RUIXLDD6B343G,12243,2013-12-26 15:47:45

In [13]:
df.dtypes

0
urlkey                object
timestamp     datetime64[ns]
original              object
mimetype              object
statuscode            object
digest                object
length                object
max_value     datetime64[ns]
dtype: object

In [14]:
df2 = df[df.timestamp>='2020-05-30']

In [15]:
dates = df2['max_value'].dt.strftime('%Y%m%d%H%M%S')

In [16]:
dates = dates.drop_duplicates()

In [17]:
dates.shape

(46,)

In [18]:
dates.tail()

1596    20200710104331
1601    20200711133700
1604    20200712211819
1619    20200713170309
1625    20200714151329
Name: max_value, dtype: object

In [19]:
url = pd.DataFrame(dates)

In [20]:
url.tail()

           max_value
1596  20200710104331
1601  20200711133700
1604  20200712211819
1619  20200713170309
1625  20200714151329

In [21]:
url['url1']='https://web.archive.org/web/'
url['url2']='/https://www.mohfw.gov.in/'

In [22]:
url['full_url']=url['url1']+url['max_value']+url['url2']

In [23]:
url.tail()

,max_value,url1,url2,full_url
1596,20200710104331,https://web.archive.org/web/,/https://www.mohfw.gov.in/,https://web.archive.org/web/20200710104331/htt...
1601,20200711133700,https://web.archive.org/web/,/https://www.mohfw.gov.in/,https://web.archive.org/web/20200711133700/htt...
1604,20200712211819,https://web.archive.org/web/,/https://www.mohfw.gov.in/,https://web.archive.org/web/20200712211819/htt...
1619,20200713170309,https://web.archive.org/web/,/https://www.mohfw.gov.in/,https://web.archive.org/web/20200713170309/htt...
1625,20200714151329,https://web.archive.org/web/,/https://www.mohfw.gov.in/,https://web.archive.org/web/20200714151329/htt...

In [24]:
pd.set_option('display.max_colwidth',1000)

In [25]:
full_url = pd.DataFrame(url.full_url)

In [26]:
full_url.reset_index(drop=True, inplace=True)

In [27]:
full_url.to_csv('full_url.csv', index=False, header=False)