In [4]:
from pathlib import Path
import pandas as pd

In [2]:
list(Path.iterdir(Path.cwd()))

[PosixPath('/home/shubh/Python/scrapy/covidIndia2/covidIndiaData/data/Untitled.ipynb'),
 PosixPath('/home/shubh/Python/scrapy/covidIndia2/covidIndiaData/data/.ipynb_checkpoints'),
 PosixPath('/home/shubh/Python/scrapy/covidIndia2/covidIndiaData/data/state_data_v2.csv')]

In [3]:
src_file = Path.cwd()/'state_data_v2.csv'

In [5]:
df = pd.read_csv(src_file)

In [6]:
df.tail()

,date,state,active_cases,cured_discharged_migrated,deaths,total_confirmed_cases
1881,2020-07-13 00:00:00,Total#,301609.0,\n\t,\n\t,\n\t
1882,2020-07-13 00:00:00,NaN,NaN,NaN,NaN,NaN
1883,2020-07-13 00:00:00,NaN,NaN,NaN,NaN,NaN
1884,2020-07-13 00:00:00,NaN,NaN,NaN,NaN,NaN
1885,2020-07-13 00:00:00,NaN,NaN,NaN,NaN,NaN